<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 text-left">
        <ul>
          <li><a href="index.php">Home</a></li>
          <li><a href="contact.php">Contact</a></li>
          <li><a href="wooncommissie.php">Committee</a></li>
          <li><a href="faciliteiten.php">Facilities</a></li>
          <li><a href="vuilafvoer.php">Garbage Collection</a></li>
          <li><a href="faqs.php">Faqs</a></li>
          <li><a href="wasschema">Laundry Schema</a></li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <p>Copyright &copy; 2017, All Rechts Reserved</p>
      </div>
    </div>
  </div>
</footer>

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
