<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 text-left">
        <ul>
          <li><a href="index.en.html">Home</a></li>
          <li><a href="contact.en.html">Contact</a></li>
          <li><a href="wooncommissie.en.html">Committee</a></li>
          <li><a href="faciliteiten.en.html">Facilities</a></li>
          <li><a href="vuilafvoer.en.html">Garbage Collection</a></li>
          <li><a href="faqs.en.html">Faqs</a></li>
          <li><a href="https://wasschema.woongebouwparkhaven.nl">Laundry schema</a></li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <p>Copyright &copy; <span id="copyright-year"></span>, All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
