<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 text-left">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="wooncommissie.html">Wooncommissie</a></li>
          <li><a href="faciliteiten.html">Faciliteiten</a></li>
          <li><a href="vuilafvoer.html">Vuilafvoer</a></li>
          <li><a href="faqs.html">Faq's</a></li>
          <li><a href="wasschema">Was Schema</a></li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <p>Copyright &copy; <span id="copyright-year"></span>, Alle Rechten Voorbehouden</p>
      </div>
    </div>
  </div>
</footer>

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
