{{#[js/layout] htmlWebpackPlugin}}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div>
        <a href="index.html" class="navbar-left"><img id="menu-img" src="./img/parkhaven-logo.png"></a>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="index.html">Home</a>
          </li>
          <li>
            <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Wooncommissie <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li class="dropdown_li">
                <a class="dropdown_a" href="wooncommissie.html">Wooncommissie</a>
              </li>
              <li class="dropdown_li">
                <a id="last_dropdown" class="dropdown_a" href="contact.html">Contact</a>
              </li>
            </ul>
          </li>
          <li>
            <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Info <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li class="dropdown_li">
                <a class="dropdown_a" href="faciliteiten.html">Faciliteiten</a>
              </li>
              <li class="dropdown_li">
                <a class="dropdown_a" href="vuilafvoer.html">Vuilafvoer</a>
              </li>
              <li class="dropdown_li">
                <a id="last_dropdown" class="dropdown_a" href="faqs.html">Faqs</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://wasschema.woongebouwparkhaven.nl">Wasschema</a>
          </li>
        </ul>
        <a id="dutch_img" href="index.html"><img src="./img/dutch.png" width="35px" height="35px"/></a>
        <a id="english_img" href="index.en.html"><img src="./img/english.jpg" width="30px" height="30px"/></a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="box-img">
        <div id="carousel-example-generic" class="carousel slide img-full" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner carousel_main_img" role="listbox">
            <div class="item active">
              <img src="./img/mainimg.jpg" class="carousel_main_img" alt="main img">
            </div>
            <div class="item">
              <img src="./img/mainimg3.jpg" class="carousel_main_img" alt="main img">
            </div>
            <div class="item">
              <img src="./img/mainimg4.jpg" class="carousel_main_img" alt="main img">
            </div>
            <div class="item">
              <img src="./img/mainimg2.jpg" class="carousel_main_img" alt="main img">
            </div>
            <div class="item">
              <img src="./img/mainimg5.jpg" class="carousel_main_img" alt="main img">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box">
        <div class="page-header horizontal_line"></div>
        <div class="col-xs-12">
          <p class="text-justify home_text">
            Welkom op de site van Woongebouw Parkhaven in Rotterdam.
            Op deze site is zowel algemene informatie als het laatste nieuws betreffende Woongebouw Parkhaven te vinden.
            Woongebouw Parkhaven is eigendom van woningcorporatie Stadswonen Rotterdam.
            Het gebouw is strategisch gelokaliseerd aan de rand van centrum Rotterdam op de Coolhaveneiland. Een
            voormalige kantoorpand is in de jaren 90 opgekocht en verbouwd naar één van de op dit
            moment meest multiculturele en levendige panden van Stadswonen Rotterdam. Van de bijna 400 bewoners
            van het pand zijn wel ruim 90% studenten. Verder zijn er ook diverse opleidingsinstituten,
            uitgaansgelegenheden,
            bezienswaardigheden en ook openbaar vervoer op loopafstand. Ben jij tussen de 18 en de 24 jaar oud en voel
            jij je thuis in een levendige omgeving dan is woongebouw Parkhaven de ideale woonplek voor jou.
          </p>
          <div class="panel panel-default panel-transparent handige_links">
            <div class="panel-heading">
              <h2 class="panel-title">Handige Links</h2>
            </div>
            <div class="panel-body">
              <ul>
                <li><a href="./pdf/Beheerreglement_2019.pdf" download>Beheerreglement</a></li>
                <li><a href="./pdf/Algemene_huurvoorwaarden_juli_2019.pdf" download>Algemene Huurvoorwaarden</a></li>
                <li><a href="https://reparatieverzoekstadswonen.cedcloud.com/#/dashboard">Reparatie Verzoek</a></li>
                <li><a href="https://www.rotterdam.nl/afval">Ophalen van Grofvuil</a>
                </li>
                <li><a href="https://www.politie.nl/aangifte-of-melding-doen/aangifte-van-diefstal-fiets.html">Aangifte
                  Fiets Diefstal</a></li>
                <li><a href="./pdf/Vlam_in_de_pan.pdf" download>Vlam in de Pan!</a></li>
                <li><a href="./pdf/Onderhoudswijzer-binnen-beheerstructuur.pdf" download>Onderhoudswijzer</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="page-header horizontal_line"></div>
      </div>
    </div>
  </div>
{{/[js/layout]}}
