{{#[js/layout] htmlWebpackPlugin}}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div>
        <a href="index.html" class="navbar-left"><img id="menu-img" src="./img/parkhaven-logo.png"></a>
        <ul class="nav navbar-nav">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Wooncommissie <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li class="dropdown_li">
                <a class="dropdown_a" href="wooncommissie.html">Wooncommissie</a>
              </li>
              <li class="dropdown_li">
                <a id="last_dropdown" class="dropdown_a" href="contact.html">Contact</a>
              </li>
            </ul>
          </li>
          <li class="active">
            <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Info <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li class="dropdown_li">
                <a class="dropdown_a" href="faciliteiten.html">Faciliteiten</a>
              </li>
              <li class="dropdown_li active2">
                <a class="dropdown_a active2" href="vuilafvoer.html">Vuilafvoer</a>
              </li>
              <li class="dropdown_li">
                <a id="last_dropdown" class="dropdown_a" href="faqs.html">Faqs</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://wasschema.woongebouwparkhaven.nl">Wasschema</a>
          </li>
        </ul>
        <a id="dutch_img" href="vuilafvoer.html"><img src="./img/dutch.png" width="35px" height="35px"/></a>
        <a id="english_img" href="vuilafvoer.en.html"><img src="./img/english.jpg" width="30px" height="30px"/></a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="box">
        <div class="page-header horizontal_line"></div>
        <div class="col-md-12">
          <h2 class="facilteiten_h2">Vuilafvoer</h2>
          <p>
            <b>Huisvuil</b><br>
            Vuilniszakken, glas en papier dientg gedeponeerd te worden in de containers op het parkeerterrein naast
            Ingang A.<br>

            In de ingangen staan vuilnisbakken voor reclamepost en klein afval. Het is niet toegestaan om vuilniszakken
            in of rond het gebouw achter te laten!<br>

            Als de containers naast ingang A vol zijn, dan kan je je vuilniszak ten westen van het
            gebouw voor de West Gym weggooien.<br>

            Gemeente Rotterdam handhaaft regelmatig op vuilniszakken die naast containers worden geplaatst, je riskeert
            hiervoor een hoge boete.<br>

            Wist je dat de Gemeente elke woensdagochtend grofvuil op komt halen bij het
            woongebouw? Het enige wat je hoeft te doen is dit op woensdag voor 08:00 uur buiten
            voor het woongebouw neerzetten en het wordt opgehaald.<br><br>

            <b>Wat is grofvuil?</b><br>
            Grofvuil is huisvuil wat niet in de ondergrondse vuilcontainer past. Denk aan: resten
            laminaat en tapijt, oude (kapotte) meubels, etc.<br>

            Let ook even op de <b>
            <a class="link_color_blue" href="./pdf/Acceptatievoorwaarden_Afvalinzameling_Stadsbeheer-Grofvuil.pdf"
               download>acceptatievoorwaarden</a></b>.
            Hierin staat in aangegeven wat je niet zomaar op straat mag zetten. Bijvoorbeeld voor wit- en bruingoed
            (oude koelkasten e.d.) moet je een aparte ophaalafspraak maken via tel. 14010. Hetzelfde geldt, in
            tegenstelling tot eerdere berichtgeving, voor oude matrassen. Voor meer informatie kijk op:
            <a class="link_color_blue" href="https://www.rotterdam.nl/wonen-leven/afval/">https://www.rotterdam.nl/wonen-leven/afval/</a>
          </p>
        </div>
        <div class="page-header horizontal_line"></div>
      </div>
    </div>
  </div>
{{/[js/layout]}}
