{{#[js/layout] htmlWebpackPlugin}}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div>
        <a href="index.en.html" class="navbar-left"><img id="menu-img" src="./img/parkhaven-logo.png"></a>
        <ul class="nav navbar-nav">
          <li>
            <a href="index.en.html">Home</a>
          </li>
          <li>
            <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Committee <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li class="dropdown_li">
                <a class="dropdown_a" href="wooncommissie.en.html">Committee</a>
              </li>
              <li class="dropdown_li">
                <a id="last_dropdown" class="dropdown_a" href="contact.en.html">Contact</a>
              </li>
            </ul>
          </li>
          <li class="active">
            <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Info <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li class="dropdown_li">
                <a class="dropdown_a" href="faciliteiten.en.html">Facilities</a>
              </li>
              <li class="dropdown_li active2">
                <a class="dropdown_a active2" href="vuilafvoer.en.html">Garbage Collection</a>
              </li>
              <li class="dropdown_li">
                <a id="last_dropdown" class="dropdown_a" href="faqs.en.html">Faqs</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://wasschema.woongebouwparkhaven.nl">Laundry schema</a>
          </li>
        </ul>
        <a id="dutch_img" href="vuilafvoer.html"><img src="./img/dutch.png" width="35px" height="35px"/></a>
        <a id="english_img" href="vuilafvoer.en.html"><img src="./img/english.jpg" width="30px" height="30px"/></a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="box">
        <div class="page-header horizontal_line"></div>
        <div class="col-md-12">
          <h2 class="facilteiten_h2">Garbage Collection</h2>
          <p>
            <b>House Garbage</b><br>
            Garbage bags, glass and paper must be deposited in the containers in the parking lot next to the main
            entrance A.<br>

            In the entrances there are garbage bins for advertistment mail and small waste. It is not allowed to leave
            garbage bags in or around the building!<br>

            If the containers next to entrance A are full, you can put your garbage bag west of the building in front of
            West Gym.<br>

            The Municipality of Rotterdam regularly enforces garbage bags that are placed next to containers, you risk
            a heavy fine for this.<br>

            Did you know that the municipality collects bulky waste every Wednesday morning at the residential building?
            All
            you have to do is get this out before 8:00 AM on Wednesday in front of the residential building and it will
            be picked up.<br><br>

            <b>What is bulky waste?</b></br>
            Bulk waste is household waste that does not fit in the underground waste container. Think: leftovers
            laminate and carpet, old (broken) furniture, etc.<br>

            Please also note the
            <b><a class="link_color_blue" href="./pdf/Acceptatievoorwaarden_Afvalinzameling_Stadsbeheer-Grofvuil.pdf"
                  download>acceptance conditions</a></b>.
            This indicates what you can't just throw it out
            on the street. For exampl for white and brown goods (old refrigeratorse etc.) you must make a separate
            collection appointment via tel. 14010. The same applies, in contrary to previous reports, for old
            mattresses.
            For more information look at:
            <a class="link_color_blue" href="https://www.rotterdam.nl/wonen-leven/afval/">https://www.rotterdam.nl/wonen-leven/afval/</a>
          </p>
        </div>
        <div class="page-header horizontal_line"></div>
      </div>
    </div>
  </div>
{{/[js/layout]}}
